@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

:root {
    --transition : all 300ms ease-in-out;
    --dark-color : #000;
    --light-color: #fff;
}


* {
    margin         : 0;
    padding        : 0;
    outline        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
}

html {
    font-size      : 62.5%;
    overflow-x     : hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-size     : 3rem;
    text-align    : center;
    text-transform: uppercase;
    margin-bottom : 2rem;
}

/* Button down  */
.btn-down {
    font-size    : 2rem;
    display      : inline-block;
    margin-bottom: 4rem;
    margin-left  : 2rem;
    padding      : 0 .5rem;
    transition   : var(--transition);
    color        : var(--light-color);
    background   : var(--dark-color);
}

.btn-down:hover {
    opacity  : 0.8;
    transform: translateY(5px);
}

/* Progress bar */

.progress {
    width     : 100%;
    height    : .8rem;
    background: var(--dark-color);
}

.progress-bar {
    background: grey;
    height    : .8rem;
    width     : 0%;
}

/*HEADER*/

header {
    background-color: var(--dark-color);
    position        : fixed;
    z-index         : 10;
    width           : 100%;
}

nav {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    min-height     : 8vh;
}

.logo {
    width         : 8rem;
    height        : 6.5rem;
    margin-left   : 1rem;
    padding-top   : 1rem;
    padding-bottom: 1rem;
}

.hamb {
    width     : 70px;
    text-align: center;
    display: none;
}

.hamb img {
    width         : 6rem;
    height        : 6rem;
    vertical-align: top;
    padding       : .5rem;
}

.links-nav {
    display: flex;
    gap    : 2rem;
    padding: 0;
}

.links-nav li {
    margin-right: 4rem;
    transition  : 2s;
}

.links-nav li a {
    font-size  : 1.6rem;
    font-weight: 800;
    color      : var(--light-color);
}

.active {
    border: 2px solid var(--light-color);
    padding: .5rem;
    transition: var(--transition);
}

.links-nav a:hover {
    margin-right: 2rem;
    background: var(--light-color);
    color: var(--dark-color);
    padding: .5rem;
    border-radius: .3rem;
    transition: var(--transition);
}


/*INICIO*/

/*Banner con typewriting*/

.banner-content {
    background     : linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/hero.jpg) no-repeat fixed center;
    width          : 100%;
    height         : 95vh;
    filter         : saturate(0);
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-end;
    margin-bottom  : 2rem;
}

.content {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 1rem;
    width          : 60%;
}

.content h1 {
    font-size    : 3rem;
    margin-bottom: 2rem;
    line-height  : 1.6;
    color        : var(--light-color);
}

.social-links {
    display       : flex;
    gap           : 1rem;
    padding-bottom: 5rem;
}

.social-links li a {
    font-size       : 2rem;
    background-color: var(--light-color);
    color           : var(--dark-color);
    padding         : .5rem;
    border-radius   : .3rem;
    box-shadow      : 0 0 6px 5px rgba(0, 0, 0, 0.6);
    transition      : var(--transition);
}

.social-links li a:hover {
    opacity: 0.6;
}

/*SERVICIOS*/

.services p {
    text-align : center;
    font-weight: 500;
    font-size  : 1.5rem;
}

.container-cards {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
    gap            : 3rem;
    margin         : 2rem 10rem;
}

.container-cards .cards {
    position     : relative;
    width        : 20rem;
    height       : 30rem;
    border-radius: 2rem;
    background   : #e0e0e0;
    box-shadow   : 20px 20px 40px #bebebe,
        -20px -20px 40px #ffffff;
}

.container-cards .cards:hover {
    transform: scale(1.1);
    cursor   : pointer;
}

.container-cards .cards img {
    width        : 20rem;
    height       : 30rem;
    filter       : saturate(0);
    border-radius: 2rem;
}

.container-cards .cards img:hover {
    filter: saturate(1);
}

.container-cards .text-card {
    position     : absolute;
    bottom       : 0;
    left         : 0;
    right        : 0;
    color        : var(--light-color);
    font-size    : 1.5rem;
    text-align   : center;
    padding      : .5rem;
    background   : rgba(0, 0, 0, 0.7);
    border-radius: 0 0 2rem 2rem;
}

/*GALERÍA*/

/*Galería lightbox*/

.gallery {
    padding: 2rem 7%;
}

.container-gallery {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
    padding        : 2rem 2rem;
    margin-bottom  : 3rem;
    background     : linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../img/banner1.jpg) no-repeat fixed center;
}

.single-img {
    width        : 15rem;
    height       : 18rem;
    margin-bottom: 2rem;
    border       : .3rem solid var(--light-color);
    border-radius: 2rem 0 2rem 0;
    background   : var(--light-color);
}

.single-img img {
    width        : 14.5rem;
    height       : 17.3rem;
    border-radius: 2rem 0 2rem 0;
    filter       : saturate(0);
    object-fit   : cover;
}

/*NOSOTROS*/

.about {
    padding: 2rem 7%;
}

.about .row {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
    background : var(--dark-color);

}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width : 100%;
    filter: saturate(0);
}

.about .row .text {
    flex   : 1 1 45rem;
    padding: 2rem;
}


.about .row .text p {
    font-size  : 1.4rem;
    font-weight: 300;
    color      : var(--light-color);
    padding    : 1rem 0;
    line-height: 1.8;
}

/*Slider Swipper Js*/

#container {
    max-width: 119rem;
    margin   : 3rem auto;
}

.swiper {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    width          : 31rem;
    height         : 25rem;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.swiper-slide img {
    display: block;
    width  : 31rem;
    height : 25rem;
    filter : saturate(0);
}


.autoplay-progress {
    position       : absolute;
    right          : 1rem;
    bottom         : 1rem;
    z-index        : 10;
    width          : 4rem;
    height         : 4rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-weight    : bold;
    color          : var(--dark-color);
}

.autoplay-progress svg {
    --progress       : 0;
    position         : absolute;
    left             : 0;
    top              : 0;
    z-index          : 10;
    width            : 100%;
    height           : 100%;
    stroke-width     : .4rem;
    stroke           : var(--dark-color);
    fill             : none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray : 125.6;
    transform        : rotate(-90deg);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--light-color);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--dark-color);
}


/*CONTACTO*/

form {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    gap            : 2rem;
    margin-bottom  : 3rem;
}

.input {
    border          : none;
    border-radius   : 15px;
    padding         : 15px;
    background-color: #faf8f8;
    box-shadow      : 6px 6px 12px #ffffff,
        -6px -6px 12px #c5c5c5;
    font-weight: bold;
    width      : 60%;
}

.input:focus {
    outline-color: var(--light-color);
    place-content: "Enter your message!";
}

.input:hover {
    font-size: 1.2rem;
}

.btn-form:hover {
    color     : var(--light-color);
    background: var(--dark-color);
    cursor    : pointer;
    font-size : 1.4rem;
}

.contact-form-response {
    width        : 50%;
    font-size    : 1.5rem;
    padding      : .5rem;
    border-radius: .5rem;
    text-align   : center;
    margin       : 2rem auto;
    color        : var(--light-color);
    background   : var(--dark-color);
}

.contact-form-loader {
    text-align: center;
}

.none {
    display: none;
}

/*FOOTER*/

footer {
    padding-top    : 5rem;
    padding-bottom : 5rem;
    background     : var(--dark-color);
    color          : var(--light-color);
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 2.5rem;
}

footer div .contact-socials {
    display: flex;
    gap    : 1.3rem;
}

.contact-socials li a {
    font-size       : 2rem;
    background-color: var(--light-color);
    color           : var(--dark-color);
    padding         : .6rem;
    border-radius   : .3rem;
    box-shadow      : 0 0 6px 5px rgba(0, 0, 0, 0.6);
    transition      : var(--transition);
}

.contact-socials li a:hover {
    opacity: 0.6;
}

footer p {
    font-size : 1.6rem;
    text-align: center;
}

.developed {
    width        : 20rem;
    height       : 6rem;
    border-radius: .3rem;
    border       : .1rem solid var(--light-color);
}


/*-----------------------------------------------------------------*/

/*------MEDIA QUERIES-------*/

@media screen and (max-width:990px) {

    html {
        font-size: 55%;
    }

    .about,
    .gallery {
        padding: 2rem;
    }

    .hamb {
        display : block;
        position: absolute;
        right   : 25px;
        cursor  : pointer;
    }

    nav {
        flex-direction: column;
        align-items   : flex-start;
        padding       : 25px 0;
    }

    .links-nav {
        position       : fixed;
        background     : var(--dark-color);
        left           : 0;
        top            : 11.5rem;
        width          : 60%;
        height         : 92vh;
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        flex-direction : column;
        transform      : translateX(-100%);
    }

    .links-nav2 {
        transform: translateX(0%);
    }
}

@media screen and (max-width:800px) {

    .content {
        width      : 90%;
        margin-left: 1rem;
    }
}

@media screen and (max-width:530px) {

    .banner-content {
        justify-content: center;
        align-items    : center;
        height         : 75vh;
    }

    .swiper-slide {
        width : 35rem;
        height: 20rem;
    }

    .swiper-slide img {
        width : 35rem;
        height: 20rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}